# Create a project on https://supabase.com
# Then locate your Project URL and anon key in Project Settings -> API

VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=sb_publishable_Gl7ZxL4YL0fm0qp_GvLO9g_FphtHPG1